/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* prettier-ignore  */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output,
ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0.8rem;
  font: inherit;
  color: var(--text);
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg);
}
/* HTML5 display-role reset for older browsers */
/* prettier-ignore  */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
h2 {
  font-size: 2em;
  font-weight: 700;
}
h3 {
  font-size: 1.8em;
  font-weight: 700;
}
h4 {
  font-size: 1.6em;
  font-weight: 700;
}
h5 {
  font-size: 1.4em;
  font-weight: 700;
}
h6 {
  font-size: 1.2em;
  font-weight: 700;
}
::selection {
  background: var(--red);
}
:root {
  font-size: 20px;
  font-family: "Nunito Sans", sans-serif;
}
:root,
:root.dark {
  --neumo: 6px 6px 12px #0b0b0b, -6px -6px 12px #2d2d2d;
  --neumo-reverse: inset 6px 6px 12px #0b0b0b, inset -6px -6px 12px #2d2d2d;

  --text--sec: #c1b7a4;
  --orange: #daa276;
  --green: #7a9e88;
  --bg: #1c1c1c;
  --bg-sec: #292929;
  --border: #333333;
  --text: #f2f2f2;
  /* --blue: #0bb7c1; */
  --blue: #00a4d8;
  /* --blue: #0077b6; */
  /* Success color: #2ecc71 */
  /* --orange: #f1c40f; */
  --red: #e74c3c;
}
:root.light {
  --neumo: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;
  --neumo-reverse: inset 6px 6px 12px #b8b9be, inset -6px -6px 12px #ffffff;

  --text: #31344b;
  --text--sec: #c1b7a4;
  --orange: #daa276;
  --green: #7a9e88;
  --bg: #e6e7ee;
  --bg-sec: #292929;
  --border: #d1d9e6;
  --blue: #0056b3;
  /* Link color: #00a4d8 */
  /* Hover color: #0077b6 */
  /* Success color: #2ecc71 */
  /* --orange: #f1c40f; */
  --red: #a91e2c;
}

@media (max-width: 767px) {
  /* prettier-ignore  */
  html, body, div, span, applet, object, iframe, p, blockquote,
  pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
  img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt,
  var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label,
  legend, table, caption, tbody, tfoot, thead, tr, th, td, article,
  aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary, time, mark, audio, video {
    font-size: 1.6rem;
  }
  :root {
    font-size: 10px;
  }
}
