@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .content-width {
    @apply w-full md:w-[737px];
  }
  .card {
    @apply default-card;
    @apply hover-card;
  }
  .default-card {
    @apply w-full md:w-[300px] lg:w-[280px] border-[--bg--sec] overflow-hidden;
  }
  .hover-card {
    @apply transition-colors hover:border-[--blue];
  }
  .tag {
    @apply px-2 py-0.5 bg-[--green] rounded-md;
  }
  .tag-hover {
    @apply hover:bg-[--blue] transition-colors;
  }
  .post-box {
    @apply grid grid-flow-row grid-cols-1 gap-12 gap-y-12 md:grid-cols-2 lg:grid-cols-3 max-w-4xl w-full md:w-auto mx-auto;
  }
  .title-resume {
    @apply mb-5 border-b-2 border-[--blue] text-[--blue];
  }
  .title-section {
    @apply flex justify-between items-end md:col-span-2 lg:col-span-3 border-b-4 border-b-[--text];
  }
  .border-link {
    @apply underline decoration-[--blue] decoration-2 transition-colors hover:text-[--blue];
  }
  #main-post a,
  #main-post a * {
    @apply border-link;
  }
}

/* prettier-ignore  */
html, body, div, span, applet, object, iframe, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt,
var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-size: 1.6rem;
  color: var(--text);
  vertical-align: bottom;
}
#main-post pre code,
code * {
  font-size: 12px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

::selection {
  background: var(--orange);
  color: var(--bg);
}
:root {
  font-size: 10px;
  background-color: var(--bg);

  --bg: #1c1c1c;
  --bg--sec: #333333;
  --text: #f2f2f2;
  --text--sec: #c3c3c3;
  --border: #2a2a2a;
  --orange: #daa276;
  --green: #7a9e88;
  --blue: #4e8fd1;
  --blue-sec: #0077b6;
  --purple: #a85fd8;
  --red: #df5452;
}

@screen md {
  /* prettier-ignore  */
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
  p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
  em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
  b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
  details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output,
  ruby, section, summary, time, mark, audio, video {
    font-size: 0.9rem;
    color: var(--text);
  }
  :root {
    font-size: 20px;
  }
  #main-post pre code,
  code * {
    font-size: 14px;
  }
}

h1,
h1 > a {
  margin-top: 0.5em;
  font-size: 36px;
  font-weight: 700;
}
h2,
h2 > a {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 32px;
  font-weight: 700;
}
h3,
h3 > a {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 28px;
  font-weight: 700;
}
h4,
h4 > a {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  font-size: 24px;
  font-weight: 700;
}
h5,
h5 > a {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  font-size: 22px;
  font-weight: 700;
}
h6,
h6 > a {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  font-size: 20px;
  font-weight: 700;
}

code {
  display: inline-block;
  margin: 0 !important;
  margin-bottom: 2px !important;
  padding: 0.125em 0.3em;
  color: var(--red);
  font-size: 0.75em;
  border-radius: 4px;
  border: 1px solid gray;
  vertical-align: middle;
}
pre code {
  height: auto;
  width: auto;
  border: none;
  border-radius: 0;
}

#main-post img {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

table {
  width: 100%;
}
th,
td {
  border: 1px solid var(--text--sec);
  padding: 1rem;
}
