#main-post * {
  margin-bottom: 1em;
  margin-top: 1em;
}

#main-post p {
  margin-bottom: 24px;
}

#main-post ol {
  list-style: decimal;
}

#main-post ul {
  list-style: disc;
}

#main-post ol,
#main-post ul {
  margin-left: 1rem;
}

#main-post blockquote {
  padding: 0.75rem 0.75rem 0.75rem 1.5rem;
  border-left: 3px solid var(--blue);
  background-color: var(--bg--sec);
}

#main-post blockquote p {
  margin: 0;
}

#main-post hr {
  margin: 2rem 0;
  opacity: 0.3;
}

#main-post pre {
  margin: 2rem 0;
}
#main-post pre code {
  padding: 1rem;
}

#main-post img {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#main-post pre code,
code * {
  font-size: 16px;
}

code {
  padding: 4px;
  font-size: 0.75em;
  border-radius: 4px;
  background-color: var(--bg--sec);
  vertical-align: middle;
}
pre code {
  height: auto;
  width: auto;
  border: none;
  border-radius: 0;
}
